.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questionBox {
  background-color: var(--main-color);
  padding-inline: 3rem;
  padding-block: 1.5rem;
  border-radius: 8px;
  color: white;
  position: relative;
}

.decorations {
  width: 12px;
  height: 12px;
  background-color: white;
  position: absolute;
  display: inline-block;
  border-radius: 8px;
  border: 2px solid black;
}

.topLeft {
  top: 8px;
  left: 8px;
}

.topRight {
  top: 8px;
  right: 8px;
}

.bottomLeft {
  bottom: 8px;
  left: 8px;
}

.bottomRight {
  bottom: 8px;
  right: 8px;
}
