.page {
  height: 100vh;
  background-image: url("/assets/images/background.jpg");
  padding-inline: 15%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 12vw;
  font-size: 5vw !important;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  gap: 3vw;
}
