.page {
  --main-color: #b8b64c;

  height: 100vh;
  background-color: var(--main-color);
  padding-block: 10%;
  padding-inline: 15%;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 8vw;
<<<<<<< HEAD
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
=======
>>>>>>> 9dcc9103f06c0a05ced8cd937b2fddca1753f38a
}
