.page {
  --main-color: #b8b64c;

  height: 100vh;
  background-color: var(--main-color);
  padding-inline: 15%;
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 12vw;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  gap: 3vw;
}
