:root {
  --background: #ffffff;
  --foreground: #171717;
  --buttons-bg: #6233ca;
  --main-color: #6233ca;
  --secondary-color: #001695;
  --font-main: "Ginto Nord", Arial, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Ginto Nord";
  src: url("/assets/fonts/Ginto Nord Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
