.page {
  --main-color: #b8b64c;

  height: 100vh;
  background-color: var(--main-color);
  padding-block: 10%;
  padding-inline: 15%;
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10vw;
}

.title {
  font-family: var(--font-main);
  font-size: 10vw;
  text-align: center;
  text-shadow: 4px 4px 2px gray;
}
