.button {
  text-transform: capitalize;
  border-color: var(--background);
  border-width: 2px;
  box-shadow: 4px 4px 10px var(--background);
  background-color: var(--main-color);
  width: 30vw;
  font-family: var(--font-main);
  color: var(--background);
}
